body {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(220,44,234);
  background: radial-gradient(circle, rgba(220,44,234,0.21536536978072474) 0%, rgba(92,228,232,0.6383345574557948) 100%);
}

.title {
  font-size: 3rem;
  display: flex;
  font-family: Arial black;
}

.s, .k, .e, .t, .c, .h {
  color: #4cc9f0;
  text-shadow: 0 3px #4361ee, 0 5px #aa43ee, 0 7px #bb43ee;
}

.container-one {
  height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 1rem;
  height: 5rem;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

button {
  border-radius: 10%;
  height: 2.3rem;
  min-height: 2.3rem;
  width: 6rem;
  min-width: 6rem;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.15);
}

.board-container {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border: 3px solid;
  height: 500px;
  width: 400px;
  display: grid;
}

.container-two {
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.input {
  height: 1.8rem;
  min-height: 1.8rem;
  width: 4rem;
  min-width: 4rem;
  font-size: 0.8rem;
}

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-55px);}
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);}
}

.s {
animation: bounce 2s ease infinite;
}

.k {
animation: bounce 2s ease infinite .1s;
}

.e {
animation: bounce 2s ease infinite .2s;
}

.t {
animation: bounce 2s ease infinite .3s;
}

.c {
animation: bounce 2s ease infinite .4s;
}

.h {
animation: bounce 2s ease infinite .5s;
}